<footer class="footer">
  <div class="footer-content">
    <h3>Contáctanos</h3>
    <p>Email: phanteonfitness2024&#64;gmail.com</p>
    <p>Teléfono: +123 456 789</p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="https://instagram.com" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="https://twitter.com" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="https://youtube.com" target="_blank"><fa-icon [icon]="faYoutube"></fa-icon></a>
    </div>
  </div>
</footer>
