<h2 style="background-color: white!important; width: 100%;" class="dialog-title" mat-dialog-title>{{ isEditMode ? 'Editar Clase' : 'Crear Clase' }}</h2>
<form [formGroup]="classForm" (ngSubmit)="onSubmit()" style="background-color: white!important;">
  <mat-dialog-content >
    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Nombre de la Clase</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="nameFormControl.invalid">{{ getErrorMessage('name') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Día</mat-label>
      <mat-select formControlName="day" [compareWith]="compareDays" required>
        <mat-option *ngFor="let day of (days$ | async)" [value]="day">
          {{ day.name | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="dayFormControl.invalid">{{ getErrorMessage('day') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Horario de Inicio</mat-label>
      <mat-select formControlName="initSchedule" [compareWith]="compareSchedules" required>
        <mat-option *ngFor="let schedule of (initSchedules$ | async)" [value]="schedule">
          {{ schedule.time | date: 'HH:mm' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="initScheduleFormControl.invalid">{{ getErrorMessage('initSchedule') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Horario de Fin</mat-label>
      <mat-select formControlName="endSchedule" [compareWith]="compareSchedules" required>
        <mat-option *ngFor="let schedule of (endSchedules$ | async)" [value]="schedule">
          {{ schedule.time | date: 'HH:mm' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="endScheduleFormControl.invalid">{{ getErrorMessage('endSchedule') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Profesor</mat-label>
      <mat-select formControlName="teacher" [compareWith]="compareTeachers" required>
        <mat-option *ngFor="let teacher of (teachers$ | async)" [value]="teacher">
          {{ teacher.user.person.firstName + ' ' + teacher.user.person.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="teacherFormControl.invalid">{{ getErrorMessage('teacher') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width field-spacing">
      <mat-label>Cupo Total</mat-label>
      <input matInput type="number" formControlName="capacity" required min="1" />
      <mat-error *ngIf="capacityFormControl.invalid">{{ getErrorMessage('capacity') }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="disableSave()">
      {{ isEditMode ? 'Guardar Cambios' : 'Crear' }}
    </button>
  </mat-dialog-actions>

</form>
