<section class="info-section">
    <h1 class="hunoclass">Bienvenido a Pantheon Fitness</h1>
    <p class="pclass">En Pantheon Fitness, nos apasiona ayudarte a alcanzar tus metas de bienestar y salud. Contamos con instalaciones de última generación y un equipo de entrenadores capacitados para guiarte en tu viaje hacia una vida más saludable.</p>
    <img class="imgclass" src="../../assets/imagen_uno.png" alt="">
    <mat-card class="info-card">
      <mat-card-title>Instalaciones Modernas</mat-card-title>
      <mat-card-content>
        Disfruta de nuestras áreas de cardio, pesas, clases grupales y zona de relajación.
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-title>Entrenadores Profesionales</mat-card-title>
      <mat-card-content>
        Nuestros entrenadores están certificados y comprometidos a guiarte paso a paso.
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-title>Planes Personalizados</mat-card-title>
      <mat-card-content>
        Diseñamos planes de entrenamiento y nutrición de acuerdo a tus necesidades.
      </mat-card-content>
    </mat-card>
  </section>