.routine-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f3f4f6;
}

h2 {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 16px;
  font-weight: bold;
}
.routine-title-field {
  width: 100%;
}

.exercise-type-title {
  font-weight: bold;
  font-size: 1.1em;
  color: #4a4a4a;
}

.routine-table {
  width: 100%;
  margin-top: 8px;
  box-shadow: none;
}

.mat-header-cell,
.mat-cell {
  padding: 8px 16px;
}

.mat-header-cell {
  font-weight: bold;
  color: #3f51b5;
  background-color: #e0e7ff;
}

.small-column {
  width: 120px;
  text-align: center;
}

.mat-checkbox {
  margin-right: 8px;
}

.observations-field {
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

button[mat-raised-button] {
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading {
  pointer-events: none;
}

.routine-button {
  height: 60px;
  min-width: 200px;
}

::ng-deep .form-field input {
  background-color: #fff !important; 

}

::ng-deep .form-field input.editable {
  background-color: #ffffff !important; 
  cursor: text !important; 
}

::ng-deep .form-field input.editable:hover {
  background-color: #ffffff !important; 
  cursor: text !important; 
}

::ng-deep .mat-mdc-form-field-flex {
  background-color: white !important; 
}
::ng-deep .mat-mdc-form-field-flex:hover {
  background-color: #fff !important; 
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff !important; 
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
  background-color:  white !important;
}


::ng-deep .mdc-text-field--filled.mdc-text-field--disabled:hover {
  background-color:  white !important;
}

::ng-deep .form-field input.editable {
  background-color: white !important; 
}



::ng-deep .mat-mdc-form-field-infix {
  background-color: #ffffff !important; 
}

::ng-deep .mat-mdc-form-field-infix:hover {
  background-color: #fff !important; 
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  background-color: #fff !important; 
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important; 
}

::ng-deep .mat-mdc-form-field-focus-overlay:hover {
  background-color: transparent!important; 
}

