<div class="data-container">
  <mat-card class="data-card">
    <mat-card-title class="card-title">Cambio de contraseña</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Contraseña actual</mat-label>
          <input [type]="hideOldPass ? 'password' : 'text'" matInput formControlName="currentPassword" />
          <button mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordForm.invalid">{{ getErrorMessage('currentPassword') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Nueva contraseña</mat-label>
          <input [type]="hideNewPass ? 'password' : 'text'" matInput formControlName="newPassword" />
          <button mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPasswordFormControl.invalid">{{ getErrorMessage('newPassword') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input [type]="hideConfirmPass ? 'password' : 'text'" matInput formControlName="confirmPassword" />
          <button mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPasswordFormControl.invalid">{{ getErrorMessage('confirmPassword') }}</mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Cambiar Contraseña</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="isLoading" class="overlay">
    <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
